<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Tweet Geek - {% block title %}{% endblock %}
    </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <meta name="description" content="Tweet Geek is the ultimate tool to get started with Twitter!" />
    <meta name="keywords" content="Twitter, tweet, follower, how to twitter, how to gain follower, twitter follower, cool tweets"/>
    <meta name="author" content="Hannes Holst"/>

    <!-- Favicon icon -->
    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"> -->
    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

    <style>
        .collapse-row.collapsed + tr {
            display: none;
        }
        
        .clickable.collapse-row.collapsed .fa-chevron-down,
        .clickable.collapse-row .fa-chevron-right {
            display: none;
        }

        .clickable.collapse-row.collapsed .fa-chevron-right,
        .clickable.collapse-row .fa-chevron-down {
            display: inline-block;
        }
    </style>
</head>

<body>

    <!-- [ Pre-loader ] start -->
    <!-- <div class="se-pre-con"></div> -->
    <!-- <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>     -->
    
    <!-- Top Bar -->
    {% include 'includes/navigation.html' %}

    <!-- SideBar -->
    {% include 'includes/sidebar.html' %}

    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            {% block content %}{% endblock content %}

        </div>
    </div>

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    {% endblock javascripts %}

</body>
</html>
